{% load i18n %}

{% extends "base_generic.html" %}

{% block title %}Bocchi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<div id="bot" data-role="page" class="type-interior">
	<div data-role="content">
		<div class="content-primary">
			<h2>{% trans "Bot Settings" %}</h2>
			<form action="/user/bot" method="post" data-ajax="false">
				<ul data-role="listview" data-inset="true">
					<li data-role="fieldcontain">
	        			<label for="select-choice-1" class="select">Bot ID:</label>
	        			<select name="bot_id" id="select-choice-1">
							<option value="_custom">Custom</option>
							{% for row in bot_list %}
							<option value="{{ row.bot_id }}" {% ifequal row.bot_id bot_id %}selected="selected"{% endifequal %}>{{ row.bot_id }}</option>
							{% endfor %}
	        			</select>
					</li>
					<li data-role="fieldcontain">
	        			<label for="input-1" class="input">Custom Bot ID:</label>
	        			<input type="text" name="custom_bot_id" id="input-1" value="" />
					</li>
					<li data-role="fieldcontain">
	        			<button type="button" data-theme="a">{% trans "Submit" %}</button
					</li>
				</ul>
			</form>
			
			<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
				<li data-role="list-divider">{% trans "Bot Menu" %}</li>
				<li><a href="/bot/add">{% trans "Create" %}</a></li>
				<li><a href="/bot/list">{% trans "List" %}</a></li>
			</ul>
			
		</div>
	</div>
</div>

{% endblock %}