{% load i18n %}

{% extends "base_generic.html" %}

{% block title %}Bocchi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
<script type="text/javascript">
/*
$(function() {
	$('#scr_bot .whiteButton').click(function(){
		alert('ddd');
		return;
	//$('#scr_bot').submit(function(){
		//$('form').submit();
		var postData = {};
        $('#scr_bot').find('select').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        $('#scr_bot').find('input').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        
        $.post('/api/update/bot', postData, function(data){
        	if (data.status) {
        		window.location = "bocc://bocchi.atrac613.io/alert/saved";
        	}
        }, 'JSON');
 
        return false;
	});
});
function clickclear(thisfield, defaulttext) {
	if (thisfield.value == defaulttext) {
		thisfield.value = "";
	}
}
function clickrecall(thisfield, defaulttext) {
	if (thisfield.value == "") {
		thisfield.value = defaulttext;
	}
}*/
</script>
{% endblock %}

{% block content %}

<form id="scr_bot" class="panel" title="Bot" selected="true" onsubmit="alert('ddd');">
<input type="hidden" name="key" value="{{ key }}" />
<h2>Status</h2>
<fieldset>
    <div class="row">
    	<label>Bot ID</label>
        <span>{{ user_prefs.bot_prefs_key.bot_id }}</span>
    </div>
    <div class="row">
    	<label>Nickname</label>
        <span>{{ user_prefs.bot_prefs_key.nickname }}</span>
    </div>
</fieldset>

<h2>Choose Bot ID</h2>
<fieldset>
    <div class="row">
    	<label for="bot_id">Bot ID</label>
        <select name="bot_id" class="panel">
		<option value="_custom">Custom</option>
		{% for row in bot_list %}
		<option value="{{ row.bot_id }}" {% ifequal row.bot_id user_prefs.bot_prefs_key.bot_id %}selected="selected"{% endifequal %}>{{ row.nickname }}</option>
		{% endfor %}
	</select>
    </div>
    <div class="row">
    	<label>Custom ID</label>
        <input type="text" name="custom_bot_id" value="" />
    </div>
</fieldset>

<a class="whiteButton" type="submit">Submit</a>

</form>
{% endblock %}