{% load i18n %}

{% extends "base_generic.html" %}

{% block title %}Bocchi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
	$('form').live('submit', function(){
		return false;
	});

	{% if debug_flg %}
		console.log('Debug Mode');
	{% else %}
		
	$('#home').live('pageshow',function(event){
		location.href = 'bocchi://bocchi.atrac613.io/hide/back_button';
	});
	
	$('#home').live('pagehide',function(event){
		location.href = 'bocchi://bocchi.atrac613.io/show/back_button';
		var page = jQuery(event.target);
		
		// This page is NEVER CACHE.
		if(page.attr('data-cache') == 'never'){
			page.remove();
		};
	});
	
	{% endif %}
	
	$('#home button').live('click', function(){
		window.location = "{{ logout_url }}";
	});
	
	$('#settings #settings_save_form button').live('click', function(){
		$.mobile.showPageLoadingMsg();
		
		var postData = {};
        $('form').find('select').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        $('form').find(':checked').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        
        $.post('/api/update/user_prefs', postData, function(data){
        	$.mobile.hidePageLoadingMsg();
        	
        	if (data.status) {
        		window.location = "bocchi://bocchi.atrac613.io/alert/saved";
        	}
        }, 'JSON');
 
        return false;
	});
	
	$('#settings #settings_test_form button').live('click', function(){
		$.mobile.showPageLoadingMsg();
		
		$.post('/api/update/test_notification', {}, function(data){
        	$.mobile.hidePageLoadingMsg();
        	
        }, 'JSON');
 
        return false;
	});
	
	$('#bot button').live('click', function(){
		$.mobile.showPageLoadingMsg();
		
		var postData = {};
        $('form').find('select').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        $('form').find('input').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        
        $.post('/api/update/bot', postData, function(data){
        	$.mobile.hidePageLoadingMsg();
        	
        	if (data.status) {
        		window.location = "bocchi://bocchi.atrac613.io/alert/saved";
        		
        		$('#current_bot_id').text(data.bot_id);
        		$('#current_bot_nickname').text(data.nickname);
        	} else {
        		alert(data.message);
        	}
        }, 'JSON');
 
        return false;
	});
	
	$('#bot_create button').live('click', function(){
		var bot_id = $('#bot_id').val();
		if(bot_id){
			if(!bot_id.match( /[^0-9A-Za-z_]+/ )){
				$.mobile.showPageLoadingMsg();
				
				var postData = {};
		        $('form').find('input').each(function(){
		            postData[$(this).attr('name')] = $(this).val();
		        });
		        
		        $.post('/api/update/bot/add', postData, function(data){
		        	$.mobile.hidePageLoadingMsg();
		        	
		        	if (data.status) {
		        		//window.location = "bocchi://bocchi.atrac613.io/alert/saved";
		        		$.mobile.changePage("/bot/list", 'slideup');
		        	}
		        }, 'JSON');
		 
		        return false;
			}else{
				alert('{% trans "Bot ID is only alphanumeric character." %}');
			}
		}else{
			alert('{% trans "Bot ID is required." %}');
		}
 
        return false;
	});
	
	$('#bot_edit button').live('click', function(){
		$.mobile.showPageLoadingMsg();
		
		var postData = {};
        $('form').find('input:hidden').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        $('form').find('input:text').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        $('form').find(':checked').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        
        $.post('/api/update/bot/edit', postData, function(data){
        	$.mobile.hidePageLoadingMsg();
        	
        	if (data.status) {
        		window.location = "bocchi://bocchi.atrac613.io/alert/saved";
        	}
        }, 'JSON');

        return false;
	});
	
	$('#bot_add_message button').live('click', function(){
		$.mobile.showPageLoadingMsg();
		
		var postData = {};
        $('form').find('input:hidden').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        $('form').find('input:text').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        $('form').find('select').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        
        var bot_id = $("#bot_id").val();
        
        $.post('/api/update/bot/add_message', postData, function(data){
        	$.mobile.hidePageLoadingMsg();
        	
        	if (data.status) {
        		$.mobile.changePage("/bot/schedule_list?bot_id=" + bot_id + "&advance=" + postData['advance'], 'slideup');
        		//window.location = "/bot/schedule_list?bot_id=" + bot_id;
        	}
        }, 'JSON');

        return false;
	});
	
	$('#bot_show_message button').live('click', function(){
		if (window.confirm('{% trans "Are you sure you want to delete?" %}')) {
			//$('form').submit();
			var postData = {};
	        $('#bot_show_message form').find('input:hidden').each(function(){
	            postData[$(this).attr('name')] = $(this).val();
	        });
	        var bot_id = $('#bot_id').val();
	        $.post('/api/update/bot/delete_message', postData, function(data){
	        	if (data.status) {
	        		$.mobile.changePage('/bot/edit?bot_id='+bot_id, {transition: 'slideup'});
	        	}
	        }, 'JSON');
 
		}
	});
	
	$('#store_tweet button').live('click', function(){
		window.location = "bocchi://bocchi.atrac613.io/store/tweet";
	});
	
	$('#store_buy button').live('click', function(){
		location.href = 'bocchi://bocchi.atrac613.io/item/io.atrac613.Bocchi.store.push150';
	});
	
	$('#store_buy').live('pageshow',function(event){
		location.href = 'bocchi://bocchi.atrac613.io/store/view/io.atrac613.Bocchi.store.push150';
	});
	
	$('#store_tweet_success button').live('click', function(){
		$.mobile.changePage('/user/home', {transition: 'slideup', reloadPage: true});
	});
	
	$('#store_buy_success button').live('click', function(){
		$.mobile.changePage('/user/home', {transition: 'slideup', reloadPage: true});
	});
});

function updateNotificationCount(){
	$.post('/api/store/tweet', {}, function(data){
    	if (data.status) {
    		$.mobile.changePage('/store/tweet/success', 'slideup');
    	}else{
    		alert('Fail');
    	}
    }, 'JSON');
}

</script>

{% endblock %}

{% block content %}

<div id="home" data-role="page" class="type-interior" data-cache="never">
	<div data-role="content">
		<div class="content-primary">
			<h2>{% trans "Hi!" %} {{ user_prefs.google_account.nickname }}.</h2>
			<form action="/user/home" method="post" data-ajax="false">
				<ul data-role="listview" data-inset="true">
					<li data-role="fieldcontain">
	        			<label for="name">Bot:</label>
	        			{{ bot_nickname }} (ID: {{ bot_id }})
					</li>
					<li data-role="fieldcontain">
	        			<label for="name">{% trans "Remaining" %}:</label>
	        			{{ quantity }}
					</li>
				</ul>
			</form>
			
			<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
				<li data-role="list-divider">{% trans "Menu" %}</li>
				<li><a href="/user/settings">{% trans "Notification Settings" %}</a></li>
				<li><a href="/user/bot">{% trans "Bot Settings" %}</a></li>
				<li><a href="/store/">{% trans "Notification Store" %}</a></li>
			</ul>
			
			<div style="margin-top: 40px;">
				<button type="button">{% trans "Logout" %}</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}