{% load i18n %}

{% extends "base_generic.html" %}

{% block title %}Bocchi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<div id="settings" data-role="page" class="type-interior">
	<div data-role="content">
		<div class="content-primary">
			<h2>{% trans "Notification Settings" %}</h2>
			<form action="/user/home" method="post" data-ajax="false">
				<ul data-role="listview" data-inset="true">
					<li data-role="fieldcontain">
	        			<label for="select-choice-1" class="select">{% trans "Notify of roughly per day" %}:</label>
	        			<select name="daily_max_notify_count" id="select-choice-1">
	        				{% for i in max_notify_list %}
								<option value="{{ i }}" {% ifequal i user_prefs.daily_max_notify_count %} selected="selected"{% endifequal %}>{{ i }}</option>
							{% endfor %}
	        			</select>
					</li>
					<li data-role="fieldcontain">
	        			<fieldset data-role="controlgroup">
	        				<legend>{% trans "Notification time" %}:</legend>
	        				<input type="checkbox" name="0000_0300" id="checkbox-1a" class="custom" value="1" {% if user_prefs.schedule_0000_0300 %}checked="checked"{% endif %} />
							<label for="checkbox-1a">00:00 - 03:00</label>
	        			
	        				<input type="checkbox" name="0300_0600" id="checkbox-2a" class="custom" value="1" {% if user_prefs.schedule_0300_0600 %}checked="checked"{% endif %} />
							<label for="checkbox-2a">03:00 - 06:00</label>
							
							<input type="checkbox" name="0600_0900" id="checkbox-3a" class="custom" value="1" {% if user_prefs.schedule_0600_0900 %}checked="checked"{% endif %} />
							<label for="checkbox-3a">06:00 - 09:00</label>
							
							<input type="checkbox" name="0900_1200" id="checkbox-4a" class="custom" value="1" {% if user_prefs.schedule_0900_1200 %}checked="checked"{% endif %} />
							<label for="checkbox-4a">09:00 - 12:00</label>
							
							<input type="checkbox" name="1200_1500" id="checkbox-5a" class="custom" value="1" {% if user_prefs.schedule_1200_1500 %}checked="checked"{% endif %} />
							<label for="checkbox-5a">12:00 - 15:00</label>
							
							<input type="checkbox" name="1500_1800" id="checkbox-6a" class="custom" value="1" {% if user_prefs.schedule_1500_1800 %}checked="checked"{% endif %} />
							<label for="checkbox-6a">15:00 - 18:00</label>
							
							<input type="checkbox" name="1800_2100" id="checkbox-7a" class="custom" value="1" {% if user_prefs.schedule_1800_2100 %}checked="checked"{% endif %} />
							<label for="checkbox-7a">18:00 - 21:00</label>
							
							<input type="checkbox" name="2100_2400" id="checkbox-8a" class="custom" value="1" {% if user_prefs.schedule_2100_2400 %}checked="checked"{% endif %} />
							<label for="checkbox-8a">21:00 - 24:00</label>
							
						</fieldset>
					</li>
					<li data-role="fieldcontain">
	        			<label for="select-choice-1" class="select">{% trans 'Timezone' %}:</label>
	        			<select name="timezone">
						{% for tz in timezones %}
							<option value="{{ tz }}"{% ifequal tz user_prefs.timezone %} selected="selected"{% endifequal %}>{{ tz }}</option>
						{% endfor %}
						</select>
					</li>
					<li data-role="fieldcontain">
	        			<button type="button" data-theme="a">{% trans "Submit" %}</button
					</li>
				</ul>
			</form>

		</div>
	</div>
</div>

{% endblock %}}