{% load i18n %}

{% extends "base_generic.html" %}

{% block title %}Bocchi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
	window.location = "bocc://bocchi.atrac613.io/update/device_token";
});

function setDeviceToken(token){
	//$('input[@ name=device_token]').attr('value', 'tes');
	$("#device_token").val(token);
	
	{% ifequal signup 'true' %}
	$('#signup').submit();
	{% endifequal %}
}
</script>
{% endblock %}

{% block content %}
<div id="home" class="panel" selected="true">
  <h2>What is Bocchi?</h2>
  <fieldset>
	  <p class="normalText">{% trans "Fake Notify is save your Push Notification." %}</p>
	  <p class="normalText">{% trans "You can create a own notification bot systems." %}</p>
  </fieldset>

<form action="/user/welcome" method="post">
	<center><input type="submit" value="Start" /></center>
</form>

<form action="/user/home" method="post" id="signup">
	<input type="hidden" name="device_token" id="device_token" value="{{ device_token }}" />
</form>

</div>

{% endblock %}