{% load i18n %}

{% extends "../user/base_generic.html" %}

{% block title %}Bocchi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<div id="bot_create" data-role="page" class="type-interior">
	<div data-role="content">
		<div class="content-primary">
			<h2>Create</h2>
			
			<form action="/bot/add" method="post" data-ajax="false">
				<ul data-role="listview" data-inset="true">
					<li data-role="fieldcontain">
	        			<label for="bot_id" class="input">Bot ID:</label>
	        			<input type="text" name="bot_id" id="bot_id" />
					</li>
					<li data-role="fieldcontain">
	        			<label for="nickname" class="input">Nickname:</label>
	        			<input type="text" name="nickname" id="nickname" />
					</li>
					<li data-role="fieldcontain">
	        			<button type="button" data-theme="a">Submit</button
					</li>
				</ul>
			</form>

		</div>
	</div>
</div>

{% endblock %}