<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="/css/iphone.css" />

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script language="Javascript" type="text/javascript">
	google.load("jquery", "1");
</script>

<script type="text/javascript">
$(function() {
	$('#save').click(function(){
		//$('form').submit();
		var postData = {};
        $('form').find('input:hidden').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        $('form').find('input:text').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        $('form').find('select').each(function(){
            postData[$(this).attr('name')] = $(this).val();
        });
        
        $.post('/api/update/bot/add_message', postData, function(data){
        	if (data.status) {
        		window.location = "/bot/schedule_list?bot_id={{ bot_id }}";
        	}
        }, 'JSON');
 
        return false;
	});
	
	$('form').submit(function(){
		return false;
	});
});
function clickclear(thisfield, defaulttext) {
	if (thisfield.value == defaulttext) {
		thisfield.value = "";
	}
}
function clickrecall(thisfield, defaulttext) {
	if (thisfield.value == "") {
		thisfield.value = defaulttext;
	}
}
</script>

<title>Bot Admin | I miss you. </title>

</head>
<body>
<h1>Add Message</h1>

<form action="/bot/add_message" method="post">
	<input type="hidden" name="mode" value="add_message" />
	<input type="hidden" name="bot_id" value="{{ bot_id }}" />
	<ul class="field">
		<li><select name="time">
			<option value="0000-0300">00:00 - 03:00</option>
			<option value="0300-0600">03:00 - 06:00</option>
			<option value="0600-0900">06:00 - 09:00</option>
			<option value="0900-1200">09:00 - 12:00</option>
			<option value="1200-1500">12:00 - 15:00</option>
			<option value="1500-1800">15:00 - 18:00</option>
			<option value="1800-2100">18:00 - 21:00</option>
			<option value="2100-2400">21:00 - 24:00</option>
		</select></li>
		<li><input type="text" name="message" size="30" value="Message" onclick="clickclear(this, 'Message')" onblur="clickrecall(this,'Message')" /></li>
	</ul>
	<p><a href="#" id="save" class="button white">Save</a></p>
</form>

</body>
</html>