{% load i18n %}

{% extends "../user/base_generic.html" %}

{% block title %}Bocchi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<div id="bot_edit" data-role="page" class="type-interior">
	<div data-role="content">
		<div class="content-primary">
			<h2>Edit</h2>
			<form action="/bot/edit" method="post" data-ajax="false">
				<input type="hidden" name="mode" value="modify" />
				<input type="hidden" name="bot_id" value="{{ bot_id }}" />
				<ul data-role="listview" data-inset="true">
					<li data-role="fieldcontain">
	        			Bot ID: {{ bot_id }}
					</li>
					<li data-role="fieldcontain">
	        			<label for="input-1" class="input">Nickname:</label>
	        			<input type="text" name="nickname" id="input-1" value="{{ nickname }}" />
					</li>
					<!--
					<li data-role="fieldcontain">
						<fieldset data-role="controlgroup">
	        				<legend>Permission:</legend>
	        				<input type="checkbox" name="public_flg" id="checkbox-1a" class="custom" value="1" {% if public_flg %}checked="checked"{% endif %} />
							<label for="checkbox-1a">Public</label>
	        			</fieldset>
					</li>
					-->
					<li data-role="fieldcontain">
	        			<button type="button" data-theme="a">Submit</button
					</li>
				</ul>
			</form>
			
			<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="f">
				<li data-role="list-divider">Menu</li>
				<li><a href="/bot/schedule_list?bot_id={{ bot_id }}">Schedule List</a></li>
				<li><a href="/bot/add_message?bot_id={{ bot_id }}">Add Message</a></li>
			</ul>

		</div>
	</div>
</div>

{% endblock %}