<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="/css/iphone.css" />

<title>Bot Admin | I miss you. </title>

</head>
<body>
<h1>Bot List</h1>

<ul>
{% for row in bot_list %}
	<li class="arrow"><a href="/bot/edit?bot_id={{ row.bot_id }}">{{ row.nickname }}</a></li>
{% endfor %}
</ul>

</body>
</html>