{% load i18n %}

{% extends "../user/base_generic.html" %}

{% block title %}Bocchi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<div id="bot_schedule" data-role="page" class="type-interior">
	<div data-role="content">
		<div class="content-primary">
			<ul data-role="listview">
				{% if advance_flg %}
				<li><a href="?bot_id={{ bot_id }}&advance=False">{% trans "Change basic mode" %}</a></li>
				{% else %}
				<li><a href="?bot_id={{ bot_id }}&advance=True">{% trans "Change advanced mode" %}</a></li>
				{% endif %}
				{% for row in schedule_list %}
				<li data-role="list-divider">{{ row.time }}</li>
					{% for bot_message in row.list %}
					<li>
						<a href="/bot/show_message?id={{ bot_message.key.id }}&bot_id={{ bot_id }}&advance={{ advance_flg }}&hour={{ row.hour }}">
							<span>{{ bot_message.message }}</span>
						</a>
					</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% endblock %}