{% load i18n %}

{% extends "../user/base_generic.html" %}

{% block title %}Bocchi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<div id="store_buy" data-role="page" class="type-interior">
	<div data-role="content">
		<div class="content-primary">
			<h2>{% trans "Upgrade from purchase" %}</h2>
			
			<center>
				<img src="/images/push150.png" />
				<p id="item_wait">{% trans "Please wait." %}</p>
				<p id="item_title" style="display:none;"></p>
				<p id="item_disable" style="display:none;">{% trans "Not for sale." %}</p>
				<p id="item_description"></p>
			</center>

			<button type="button" id="buy_item" disabled>{% trans "Purchase" %}</button>
			
		</div>
	</div>
</div>

{% endblock %}